@tailwind base;
@tailwind components;
@tailwind utilities;

.menu {
  margin: 120px;
}

.menu-restaurant-desc {
  padding-bottom: 20px;
}

.menu-information-single {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-img {
  width: 148px;
  height: 126px;
  border-radius: 20px;
  margin-right: 20px;
}

.dotted-seprator {
  border: none;
  border-bottom: 1px dashed #d3d3d3;
}

.menu-desc {
  color: rgba(40, 44, 63, 0.75);
}

.styles_divider {
  margin: 20px 0;
  border-bottom: 0.5px solid #d3d3d3;
  height: 0.5px;
}

.styles_bold_divider {
  border-top: 15px solid #f1f1f6;
  margin-top: 40px;
  margin-bottom: 40px;
}

.menu-title {
  font-weight: bolder;
  letter-spacing: 2.5px;
}

.user-card {
  border: 2px solid;
  padding: 20px;
  margin: 40px;
}

.status {
  background-color: red; /* Green color, you can change it as needed */
  color: #fff;
  text-align: center;
  font-weight: bold;
  top: 0;
  left: 0;
  width: 100%;
  animation: fade-down 0.5s;
}

@keyframes fade-down {
  0% {
    opacity: 0%;
    transform: translateY(-30px) scaleY(0.1);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px) scaleY(1);
  }
}

.status.closed {
  opacity: 0%;
  transform: translateY(30px) scale(0.1);
}
